{% extends 'todo/base.html' %}

{% block content %}
<div class="content-container">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1>{{ selected_state }}</h1>
                </div>
            </div>
        </div>
    </section>

    {% if toggleCompleteForm.todo_id.errors %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Oups ! Something went wrong :(
    </div>
    {% endif %}
    <form id="toggleCompleteForm" method="post" action="/todos/toggle-complete" style="display:none">
        {% csrf_token %}
        <input id="toggleTodoId" type="text" name="todo_id" />
    </form>

    <div class="card card-outline">
        <div class="card-body p-0">
            <div class="table-responsive mailbox-messages">
                <table class="table table-hover">
                    <tbody>
                    {% for todo in todos %}
                    <tr>
                        <td>
                            <div class="icheck-primary">
                                <input type="checkbox"
                                       id="check_{{todo.id}}" {% if todo.is_done %} checked {% endif %}
                                       onclick="onCheck(this, '{{ todo.id }}');"
                                       data-todo-id="{{ todo.id }}">
                                <label for="check_{{todo.id}}"></label>
                            </div>
                        </td>
                        <td class="mailbox-subject">
                            {{ todo.title }}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block css %}
<style>
    .mailbox-messages table tbody tr td .icheck-primary {
        width: 0px;
    }
    .mailbox-messages table tbody tr td:first-of-type {
        width: 50px;
    }
    .mailbox-messages table tbody tr td {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .mailbox-messages table tbody tr td.mailbox-subject.mailbox-subject {
        vertical-align: middle;
    }
</style>
{% endblock %}

{% block scripts %}
<script>
    function onCheck(source, todoId) {
        var todoId = $(source).data('todoId');
        $('#toggleTodoId').attr('value', todoId)
        $('#toggleCompleteForm').submit()
    }
</script>
{% endblock %}